In [205]:
import pandas as pd
import re
import datetime

from disaster_extr_constants import *
from disaster_extr_helpers import *

In [307]:
YEAR = 2016
disaster_type = 'heat_wave'
file_path = 'data/'+str(YEAR)+'_'+disaster_type+'_climate_processed_csv.bz2'

In [308]:
data = 'data/emdat_processed.csv'
parse_dates = ['StartDate', 'EndDate']
df_emdat = pd.read_csv(data, index_col="Dis No", parse_dates = parse_dates)

In [309]:
disaster_df = pd.read_csv(file_path, parse_dates = ['date'], compression='bz2')

In [415]:
disaster_df.head(4)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2016-04-17-002590,It never got to be a high temperature and we t...,Jerry Hollendorfer,['Q6183758'],2016-04-17 18:01:00,1,"[['Jerry Hollendorfer', '0.7263'], ['None', '0...",['http://www.bloodhorse.com/horse-racing/artic...,E
1,2016-04-18-050849,"Think about what happens during a heat wave,",Wayne Riley,['Q2579229'],2016-04-18 00:00:00,8,"[['Wayne Riley', '0.5678'], ['None', '0.4322']]",['http://consumer.healthday.com/UserControls/e...,E
2,2016-04-18-034163,No large change in maximum temperatures over T...,Mahmood Ali,['Q6734269'],2016-04-18 15:52:39,1,"[['Mahmood Ali', '0.6361'], ['None', '0.3639']]",['http://zeenews.india.com/news/telangana/tela...,E
3,2016-04-18-043743,The data will be analysed to arrive at conclus...,Mahmood Ali,['Q6734269'],2016-04-18 15:52:39,1,"[['Mahmood Ali', '0.9612'], ['None', '0.0388']]",['http://zeenews.india.com/news/telangana/tela...,E

In [311]:
climate_tags_pos = pd.DataFrame(
    {'tags': [
        r'\b([cC]limate ([iI]mpact|[cC]hange|[cC]risis|[mM]odel|[eE]mergency))\b',
        r'\b([gG]lobal [wW]arming)\b',
        r'\b([gG]reenhouse ([gG]as(es)?)|[eE]ffects?|[eE]missions?)\b']
    }
)

In [312]:
tags_pos_list = climate_tags_pos.tags.values.tolist()

In [313]:
tags_pos_list

['\\b([cC]limate ([iI]mpact|[cC]hange|[cC]risis|[mM]odel|[eE]mergency))\\b',
 '\\b([gG]lobal [wW]arming)\\b',
 '\\b([gG]reenhouse ([gG]as(es)?)|[eE]ffects?|[eE]missions?)\\b']

In [314]:
regex_pattern_pos = r'|'.join(tags_pos_list)

In [315]:
filtered_for_climate = extract_quotes(disaster_df, regex_pattern_pos).sort_values(by='date')

/Users/gil/EPFL/4 - Fourth Year/Semester 1/ADA/Project/ada-2021-project-data-alchemy/disaster_extr_helpers.py:17: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  mask = df[field].str.contains(regex)

In [320]:
len(filtered_for_climate)

3507

In [321]:
filtered_for_climate.head(4)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
4398,2016-03-11-000645,It is the height of irresponsibility and negle...,Hillary Clinton,['Q6294'],2016-03-11 02:25:37,1,"[['Hillary Clinton', '0.7691'], ['None', '0.21...",['http://politics.heraldtribune.com/2016/03/10...,E
5294,2016-03-11-000228,DiCaprio is right that global average temperat...,None,[],2016-03-11 06:39:00,1,"[['None', '0.7701'], ['Stacey Dash', '0.1765']...",['http://www.thewrap.com/stacey-dash-attacks-l...,E
8350,2016-03-11-000944,Republicans Call Climate Change a Hoax and Ref...,None,[],2016-03-11 19:19:00,4,"[['None', '0.8682'], ['George Wallace', '0.131...",['http://www.alternet.org/election-2016/blowin...,E
6473,2016-03-14-000177,Climate change is threatening hundreds of mill...,None,[],2016-03-14 15:38:44,1,"[['None', '0.8887'], ['President Obama', '0.11...",['https://summitcountyvoice.com/2016/03/14/nob...,E

In [413]:
extract_quotes(filtered_for_climate, r'\b([cC]onferences?)\b', complement=False).head(4)

/Users/gil/EPFL/4 - Fourth Year/Semester 1/ADA/Project/ada-2021-project-data-alchemy/disaster_extr_helpers.py:17: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  mask = df[field].str.contains(regex)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
8667,2016-03-23-000201,Coming back from Paris [ 2015 Climate Conferen...,Barry Coates,['Q26845632'],2016-03-23 09:45:58,1,"[['Barry Coates', '0.4594'], ['None', '0.4506'...",['http://asiapacificreport.nz/2016/03/23/tppa-...,E
8387,2016-04-18-024841,In the wake of the 21st conference on climate ...,None,[],2016-04-18 16:00:00,1,"[['None', '0.5025'], ['Sebastien Bazin', '0.49...",['http://10www.alternet.org/food/one-worlds-la...,E
12086,2016-04-19-132376,Ultimately the fight against climate change is...,Prakash Javadekar,['Q7238178'],2016-04-19 17:36:01,2,"[['Prakash Javadekar', '0.9651'], ['None', '0....",['http://www.newindianexpress.com/nation/India...,E
7374,2016-04-20-158481,Youths participating in the conference made pr...,None,[],2016-04-20 20:22:30,1,"[['None', '0.9011'], ['president Barack Obama'...",['http://timesofindia.indiatimes.com/city/luck...,E

In [303]:
YEAR, disaster_type

(2020, 'storm')

In [304]:
output_df = filtered_for_climate

In [414]:
output_df.head(4)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
5027,2019-11-11-058431,Oaks instead of palm trees? Florida's iconic p...,Javier Rodríguez,"['Q20177465', 'Q58313568', 'Q6076186', 'Q61656...",2019-11-11,1,"[['Javier Rodríguez', '0.3833'], ['José Javier...",['https://floridapolitics.com/archives/310790-...,E
14302,2019-11-11-016437,European cities face large challenges that are...,None,[],2019-11-11,1,"[['None', '0.5404'], ['Markus Keller', '0.4596']]",['http://webwire.com/ViewPressRel.asp?aId=2498...,E
14252,2019-11-11-036941,"Identify, analyze, and relate the internal (ea...",None,[],2019-11-11,4,"[['None', '0.592'], ['Rebecca Anderson', '0.40...",['http://news.wjct.org/post/climate-change-put...,E
1517,2019-11-11-050271,It's time to declare a climate crisis & take a...,None,[],2019-11-11,2,"[['None', '0.792'], ['José Javier Rodríguez', ...",['https://floridapolitics.com/archives/310790-...,E

In [306]:
write_df_to_disk(output_df, disaster_type, YEAR, additional_text='climate_filtered')